<div id='container' ng-app="shortly.shorten">
  <!-- Your html here -->
  <div class="navigation">
    <ul>
      <li><a href="#shorten">Shorten</a></li>
      <li><a href="#links">Links</a></li>
      <li><a ng-controller="AuthController" ng-click="signout()" href="#signin">Signout</a></li>
    </ul>
  </div>

  <p>Shorten!</p>

  <div >
    <form>
      <input
        ng-model="newLink"
        ng-change="validateLink(newLink)"
        placeholder="Enter your url here..."
        ng-class="{'error': shortlyForm.$invalid && shortlyForm.$dirty}"
      />

      <button
        ng-click="addLink(newLink)"
        ng-disabled-"shortlyForm.$invalid"
      >
        Submit
      </button>
    </form>

    <!-- fix this stuff -->
    <div ng-show="shortlyForm.link.$error.required && shortlyForm.$dirty">
      <h2>Url required</h2>
    </div>
    <div ng-show="shortlyForm.link.$error.required && shortlyForm.$dirty">
      <h2>Not a valid url</h2>
    </div>

    <img src="assets/spiffygif_46x46.gif" alt="">
  </div>

  <p>{{urlMessage}}</p>

  <div>
  </div>
</div>
