<div id='container' ng-app="shortly.links">
  <!-- Your html here -->
  <p>Links</p>
  <!-- <button ng-click="showData(callback)">Button</button> -->
  <div ng-controller="LinksController">
  
    <div ng-repeat="link in data | orderBy: '-visits'" >
      <a href="{{link.base_url + '/' + link.code}}">
        <p class="link">
          <img src="assets/redirect_icon.png">
          <span class="title">{{link.title}}</span>
          <span class="original">{{link.url}}</span>
          {{link.base_url + "/" + link.code}}
          <span class="visits">{{link.visits}}</span>
        </p>
      </a>
    </div>
  </div>
</div>

